@import "src/assets/main-theme.scss";

.footer {
  display: flex;
  justify-content: center;

  max-width: 640px;
  margin: 24px auto;

  p {
    font-size: 0.85rem;

    flex: auto;

    text-align: center;

    color: $gray;
  }

  @media (max-width: 600px) {
    flex-flow: column;

    p {
      font-size: 0.8rem;
    }
  }
}
