@import "src/assets/main-theme.scss";

.app-asset-change {
  &__error {
    display: flex;
    justify-content: center;

    max-width: 600px;
    margin: 24px auto;
    padding: 48px;

    text-align: center;

    color: $red;
    border-radius: 16px;
    background-color: $dark-color-300;
  }

  &__loading {
    display: flex;
    justify-content: center;

    max-width: 600px;
    margin: 24px auto;
    padding: 48px;

    text-align: center;

    color: $white;
    border-radius: 16px;
    background-color: $dark-color-300;
  }

  @media (max-width: 600px) {
    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 0.8rem;
    }

    select {
      font-size: 0.6rem;
    }
  }
}
