.app-asset-change {
  &__error {
    display: flex;
    justify-content: center;

    margin: 24px auto;
    max-width: 600px;

    color: #ff0054;
    text-align: center;
    background-color: #0d0e10;
    padding: 48px;
    border-radius: 16px;
  }

  &__loading {
    display: flex;
    justify-content: center;

    margin: 24px auto;
    max-width: 600px;

    color: #fff;
    text-align: center;
    background-color: #0d0e10;
    padding: 48px;
    border-radius: 16px;
  }

  @media (max-width: 600px) {
    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 0.8rem;
    }

    select {
      font-size: 0.6rem;
    }
  }
}
