<div class="app-asset-change">
  
  <app-header 
    [assetList]="availableAssetList" 
    (changeEvent)="onChangeAsset($event)"
  />

  <div *ngIf="!errorMessage && !loading">
    <app-asset-change-chart [data]="assetChangeList"/>
    <app-asset-change-table [data]="assetChangeList"/>
  </div>

  <div 
    class="app-asset-change__error" 
    *ngIf="errorMessage && !loading">
      {{errorMessage}}
  </div>  

  <div 
    class="app-asset-change__loading" 
    *ngIf="loading">
      Carregando...
  </div>  

  <app-footer *ngIf="!errorMessage && !loading"/>

</div>
