<div class="app-asset-change-table">
  <table>
    <thead>
      <tr>
        <th>Dia</th>
        <th>Data</th>
        <th>Valor</th>
        <th>Var. diária</th>
        <th>Var. período</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ item.date }}</td>
        <td>R$ {{ item.price | number : "1.2-2" }}</td>
        <td
          [ngClass]="
            item.changeLastDay
              ? item.changeLastDay > 0
                ? 'positive'
                : 'negative'
              : ''
          "
        >
          {{ item.changeLastDay | number : "1.2-2" }}
          {{ item.changeLastDay ? "%" : "" }}
        </td>
        <td
          [ngClass]="
            item.changeOnPeriod
              ? item.changeOnPeriod > 0
                ? 'positive'
                : 'negative'
              : ''
          "
        >
          {{ item.changeOnPeriod | number : "1.2-2" }}
          {{ item.changeOnPeriod ? "%" : "" }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
