@import "src/assets/main-theme.scss";

.app-asset-change-table {
  display: flex;
  justify-content: center;

  table {
    margin: 0;
    padding: 0;
  }

  thead {
    height: 60px;

    background-color: $dark-color-300;
  }

  td {
    margin: 0;
    padding: 12px 40px 12px 40px;

    text-align: center;

    background-color: $dark-color-100;
  }

  .positive {
    color: $green;
  }

  .negative {
    color: $red;
  }

  @media (max-width: 600px) {
    table {
      font-size: 0.75rem;

      width: 90%;
    }

    td {
      padding: unset;
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
}
