/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Blinker&display=swap");
@import url("assets/highcharts-theme.scss");
@import "assets/main-theme.scss";

body {
  font-family: "Blinker", sans-serif;

  overflow-y: scroll;

  margin: 0;
  padding: 0;

  color: $white;
  background-color: $dark-color-200;
}

a {
  color: $link-color;
}
